<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<title>Learn-a-Lang</title>

		<style>
			<%= @global_css %>
		</style>

		<style>
			<%= @bundle_css %>
		</style>
	</head>

	<body class="bg-gray-100 relative"></body>

	<script type="text/javascript">
		<%= @bundle_js %>
	</script>
</html>
